

/* ----- Mobile & Tablet ----- */
@media (max-width: 1023px) {
     :root {
          --header-height: 68px;
          --navbar-height: 0px;
     }
     .hide-on-mobile-tablet {
          display: none;
     }
     
     .header {
          position: fixed;
          z-index: 10;
          top: 0;
          right: 0;
          left: 0;

     }

     .header__cart-list {
          position: fixed;
          top: var(--header-height);
          right: 0;
          width: 100%;
          padding: 0 calc((100% - 644px) / 2);
     }

     .header__cart-list::after {
          display: none;
     }
     
     .header__cart-item-remove {
          border: 1px solid #757575;
          padding: 4px;
          border-radius: 4px;
     }

     .header__sort-bar {
          display: flex;
     }

     .app__container {
          margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
     }

     .app__content {
          padding-top: 8px;
     }

     .home-product__pagination {
          padding: 0;
     }
}


/* ----- Tablet ----- */
@media (min-width: 740px) and (max-width: 1023px) {
     .hide-on-tablet {
          display: none;
     }

     .header__cart {
          width: 80px;
          text-align: right;
     }

     .header__mobile-search {
          padding-right: 24px;
          padding-left: 0;
     }
     
}

/* ----- Mobile ----- */
@media (max-width: 739px) {
     .hide-on-mobile {
          display: none;
     }

     .header-with-search {
          justify-content: space-between;
          margin: 0 24px;
     }

     .header__logo,
     .header__cart {
          width: unset;
     }

     #mobile-search-checkbox:checked ~ .header__search {
          display: flex;
     }

     .header__search {
     position: fixed;
     top: calc(var(--header-height));
     left: 0;
     right: 0;
     height: 46px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
     border: 1px solid #ccc;
     padding: 0 16px;
     animation: mobileSearchSideIn linear .2s;
     display: none;
     }

     .header__search-btn {
          height: 80%;
     }

     @keyframes mobileSearchSideIn {
          from {
               opacity: 0;
               top: calc(var(--header-height) / 2);
          }
          to {
               opacity: 1;
               top: var(--header-height);
          }
     }

     .header__search-history {
          width: 100%;
          right: 0;
          position: fixed;
          top: calc(var(--header-height) + var(--header-sort-bar-height));
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     }

     .home-product {
          padding: 0 8px;
     }
     
     .header__logo-img {
          width: 120px;
     }

     .footer {
          padding: 16px;
          text-align: center;
     }
     
     .footer__list-item-link {
          display: block;
     }

     .footer__download {
          justify-content: center;
     }

     .footer__info {
          background-color: #ccc;
          margin: 0;
          padding:24px 0;
     }

     .footer__download-app-link {
          display: block;
          padding: 4px 0;
     }
}

 /* ----- PC -----  */
@media (min-width: 1024px) {
     .header__mobile-search {
          display: none;
     }
     .header__logo-img {
          padding: 0 12px;
     }

     .mobile-category__list {
          display: none;
     }
}